/game/.vs/
/game/x64/Debug/*
/game/x64/Release/*
/game/Game/x64/*
!/game/x64/Debug/GameProject.exe
!/game/x64/Debug/raylib.dll
/raylib_test/.vs/

game/Game/textures/source/ps_proc/anim_fullsize_frames.psd
/raylib_test/raylib_test/resources
/game/Game/textures/source/ps_proc/Без имени-1.psd
/~$плом_Бондарь.А.П.122-17-3.docx
/~WRL0005.tmp
/~$Диплом_Бондарь.А.П._презентация.pptx
